<div class="header">
  <h1>Header area</h1>
  <h3>Toggle top Fachanwendung</h3>
  <ul class="remote-menu">
    <li><a routerLink="/remote1">Top: Remote 1</a></li>
    <li><a routerLink="/remote2">Top: Remote 2</a></li>
  </ul>
  <h3>Toggle bottom Fachanwendung</h3>
  <ul class="remote-menu-bottom">
    <li><a [routerLink]="[{ outlets: { microfrontend2: ['remote4'] } }]">Bottom: Remote 4</a></li>
    <li><a [routerLink]="[{ outlets: { microfrontend2: ['remote1'] } }]">Bottom: Remote 1</a></li>
  </ul>
  <p>Function from shared JS library: {{ number }}</p>
  <lib-ui></lib-ui>
  <p>Message from Remote 1: {{ message }}</p>
</div>

<router-outlet></router-outlet>
<router-outlet name="microfrontend2"></router-outlet>

<div class="footer">
  <h3>Footer area</h3>
</div>
